# .coveragerc to control coverage.py
[run]
branch = True
source = readalongs
omit = */readalongs/waveform2svg/*

[report]
precision = 2
# Regexes for lines to exclude from consideration
exclude_lines =
    # Don't complain if non-runnable code isn't run:
    if 0:
    if __name__ == .__main__.:
