repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: check-yaml
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
        exclude: \.svg$
-   repo: https://gitlab.com/pycqa/flake8
    rev: 3.8.3
    hooks:
    -   id: flake8
-   repo: local
    # Using local repos because these won't work for me from remote repo -EJ
    hooks:
    -   id: isort
        name: isort
        entry: isort
        language: system
        types: [python]
        stages: [commit]
    -   id: black
        name: black
        entry: black
        language: system
        types: [python]
        stages: [commit]
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: 'v0.941'  # Use the sha / tag you want to point at
    hooks:
    -   id: mypy
