[MASTER]
# A lot of test cases depend on etree, let's allow pylint to load it
extension-pkg-allow-list=lxml.etree
# We use isort for sorting our imports, so nevermind what pylint thinks
disable=wrong-import-order
# Add . to the PYTHONPATH so pylint knows test cases can import basic_test_case
init-hook="import sys; sys.path.append('.')"
