sudo: required
dist: xenial

language: python
python:
  - "3.7"

# install system dependencies here with apt-get.
before_install:
  - sudo apt-get update -y
  - sudo apt-get install -y git ffmpeg
  - sudo apt-get install -y python3 python3-pip python-dev build-essential

# install python dependencies including this package in the travis
# virtualenv
install:
  # Install Python dependencies
  - pip3 install -r requirements.txt
  # Install Studio
  - pip3 install -e .
  # Legal check: make sure we don't have or introduce GPL dependencies
  - pip3 install pip-licenses
  - if pip-licenses | grep -v 'Artistic License' | grep -v LGPL | grep GNU; then echo 'Please avoid introducing *GPL dependencies'; false; fi
  # Install testing requirements
  - pip3 install -r requirements.dev.txt
  - pip3 install coverage
  - pip3 install codecov
  - pip3 install gunicorn

before_script:
  - gunicorn readalongs.app:app --bind 0.0.0.0:5000 --daemon

# commands to run the testing suite. if any of these fail, travis lets us know
script:
  - (cd test && coverage run run.py prod)
  - find . -name \*.py | xargs black --check

# commands to run after the tests successfully complete
after_success:
  - cd test && codecov
