recursive-include readalongs/templates *
recursive-include readalongs/static *
recursive-include readalongs/epub *
include MANIFEST.in
exclude .gitignore
recursive-exclude * *.py[co]
recursive-exclude * *~
recursive-exclude * *.orig
