coloredlogs==10.0
Flask==1.0.2
Flask-Cors==3.0.8
Flask-Session==0.3.2
flask-socketio==4.0.0
g2p>=0.5.*
iso-639==0.4.5
lxml==4.3.0
networkx==2.3
numpy>=1.16.4
panphon==0.14
soundswallower==0.1.1
pydub==0.23.1
pympi-ling==1.69
python-slugify==1.2.6
pystache==0.5.4
six==1.12.0
text-unidecode==1.2
tqdm==4.31.1
webvtt-py==0.4.2
pre-commit>=2.6.0
black>=19.10b0
flake8>=3.8.3
