# This is the minimal set of dependencies required for the readalongs package
anyio<4.0.0
chevron==0.14.0
click>=8.0.4
coloredlogs==10.0
fastapi==0.78.0
g2p>=1.1.20230822, ==1.*
lxml==4.9.1
networkx>=2.5,<=2.8.4
numpy>=1.16.4
pydub==0.23.1
pympi-ling>=1.69,<2.0
python-slugify==5.0.0
soundswallower~=0.6.0
webvtt-py==0.4.2
