<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>ReadAlong Studio - Step Two</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='export_page/vendor/bootstrap/css/bootstrap.min.css') }}"
        rel="stylesheet">

    <!-- Custom fonts for this template -->

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet"
        href="{{ url_for('static', filename='export_page/vendor/simple-line-icons/css/simple-line-icons.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='export_page/device-mockups/device-mockups.min.css') }}">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='export_page/css/new-age.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='build/read-along.js') }}"></script>

    <link href="https://fonts.googleapis.com/css?family=Lato|Material+Icons|Material+Icons+Outlined" rel="stylesheet">

</head>

<body id="page-top">

    <header class="masthead">
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-lg-7 my-auto">
                    <div class="header-content mx-auto">
                        <h1 class="mb-5">Please upload your files here!</h1>
                        <a href="/step/2" class="btn btn-outline btn-xl js-scroll-trigger">Upload!</a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <footer>
        <div class="container">
            <p>&copy; Your Website 2019. All Rights Reserved.</p>
            <ul class="list-inline">
                <li class="list-inline-item">
                    <a href="#">Privacy</a>
                </li>
                <li class="list-inline-item">
                    <a href="#">Terms</a>
                </li>
                <li class="list-inline-item">
                    <a href="#">FAQ</a>
                </li>
            </ul>
        </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="{{ url_for('static', filename='export_page/vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='export_page/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

</body>

</html>